@import url("https://fonts.googleapis.com/css2?display=swap&family=Inter");
@import url("https://fonts.googleapis.com/css2?display=swap&family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?display=swap&family=Vollkorn");
:root {
	--backImage: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAE0lEQVR4XmNggILbdx9uwsEAAgDBfQniz1+UngAAAABJRU5ErkJggg==);
	--primary: hsl(200,70%,30%);
	--secondary: hsl(97,65%,40%);
	--accent: hsl(0,55%,60%);
	--front: hsl(0,0%,30%);
	--link: hsl(0,55%,60%);
	--back: hsl(185,43%,95%);
	--surface: hsl(0,0%,98%);
	--base: Inter;
	--title: Vollkorn;
	--mono: Inter;
	--icon: "Material Icons";
	--font: 15px;
	--line: 1.7;
	--radius: 4px;
	--secondary-lightenD--25: hsl(97,65%,15%);
	--front-lightenD--15: hsl(0,0%,15%);
	--front-lighten-18: hsl(0,0%,48%);
	--surface-lightenD-6: hsl(0,0%,92%);
	--surface-lightenD-3: hsl(0,0%,95%);
	--front-opacify--085: hsla(0,0%,30%,0.15000000000000002);
	--link-opacify--025: hsla(0,55%,60%,0.75);
	--back-lightenD-20: hsl(185,43%,75%);
	--back-lightenD-20-opacify--07: hsla(185,43%,75%,0.30000000000000004);
	--front-opacify--06: hsla(0,0%,30%,0.4);
	--front-lightenD-25: hsl(0,0%,55%);
	--surface-lightenD-10: hsl(0,0%,88%);
	--front-lightenD-10: hsl(0,0%,40%);
	--front-lightenD-5: hsl(0,0%,35%);
	--front-lighten-30: hsl(0,0%,60%);
	--front-opacify--05: hsla(0,0%,30%,0.5);
	--front-opacify--08: hsla(0,0%,30%,0.19999999999999996);
}

.dark:root {
	--backImage: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAE0lEQVR4XmNggAIufpVNOBhAAAAzsQLOka+KxAAAAABJRU5ErkJggg==);
	--primary: hsl(0,40%,80%);
	--secondary: hsl(48,95%,60%);
	--accent: hsl(0,65%,65%);
	--front: hsl(240,13%,87%);
	--link: hsl(0,65%,65%);
	--back: hsl(0,0%,20%);
	--surface: hsl(0,0%,23%);
	--secondary-lightenD--25: hsl(48,95%,85%);
	--front-lightenD--15: hsl(240,13%,100%);
	--front-lighten-18: hsl(240,13%,100%);
	--surface-lightenD-6: hsl(0,0%,29%);
	--surface-lightenD-3: hsl(0,0%,26%);
	--front-opacify--085: hsla(240,13%,87%,0.15000000000000002);
	--link-opacify--025: hsla(0,65%,65%,0.75);
	--back-lightenD-20: hsl(0,0%,40%);
	--back-lightenD-20-opacify--07: hsla(0,0%,40%,0.30000000000000004);
	--front-opacify--06: hsla(240,13%,87%,0.4);
	--front-lightenD-25: hsl(240,13%,62%);
	--surface-lightenD-10: hsl(0,0%,13%);
	--front-lightenD-10: hsl(240,13%,77%);
	--front-lightenD-5: hsl(240,13%,82%);
	--front-lighten-30: hsl(240,13%,100%);
	--front-opacify--05: hsla(240,13%,87%,0.5);
	--front-opacify--08: hsla(240,13%,87%,0.19999999999999996);
}

/* 1015587322@stylist.Style$1 */.extends::before {
	content: ' extends ';
}

/* 1081223795@stylist.Style$1 */select {
	width: 100%;
	height: 30px;
	color: var(--back);
	background-color: var(--front);
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 3px;
	padding-right: 3px;
	border-radius: 3px;
	transition-property: all;
	transition-duration: 0.5s;
	transition-delay: 0;
	transition-timing-function: ease;
	outline-style: none;
	overflow: hidden;
	scrollbar-width: none;
}

/* 1081223795@stylist.Style$1 */select:focus {
	height: 120px;
}

/* 1081223795@stylist.Style$1 */select option {
	color: var(--back);
	background-color: var(--front);
	border-radius: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 6px;
	padding-right: 6px;
}

/* 1248136504@stylist.Style$1 */.PUBLIC {
	position: relative;
}

/* 1248136504@stylist.Style$1 */.PUBLIC::before {
	content: '';
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: hsl(150,50%,40%);
	margin-right: 0.65rem;
}

/* 1248136504@stylist.Style$1 */.PUBLIC.FIELD::before {
	content: '\e836';
}

/* 1249743067@stylist.Style$1 */.tree {
	overflow: hidden;
	scrollbar-width: thin;
	height: 60vh;
	background-color: inherit;
}

/* 1249743067@stylist.Style$1 */.tree:hover {
	overflow-y: auto;
}

/* 1249743067@stylist.Style$1 */.tree dl {
	padding-bottom: 0.5em;
}

/* 1249743067@stylist.Style$1 */.tree dl.show dd {
	display: block;
}

/* 1249743067@stylist.Style$1 */.tree dl.expand dd {
	display: block;
}

/* 1249743067@stylist.Style$1 */.tree dt {
	font-weight: bold;
	white-space: nowrap;
	user-select: none;
	cursor: pointer;
	border-radius: var(--radius);
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.15em;
	padding-bottom: 0.15em;
}

/* 1249743067@stylist.Style$1 */.tree dt::selection {
	background-color: transparent;
}

/* 1249743067@stylist.Style$1 */.tree dt:hover {
	color: var(--accent);
	background-color: var(--surface);
}

/* 1249743067@stylist.Style$1 */.tree dd {
	display: none;
	white-space: nowrap;
	user-select: none;
	cursor: pointer;
	border-radius: var(--radius);
	padding-left: 0.5em;
	padding-right: 0.5em;
}

/* 1249743067@stylist.Style$1 */.tree dd::selection {
	background-color: transparent;
}

/* 1249743067@stylist.Style$1 */.tree dd:hover {
	color: var(--accent);
	background-color: var(--surface);
}

/* 1249743067@stylist.Style$1 */.tree dd>* {
	display: inline-block;
	width: 100%;
}

/* 1249743067@stylist.Style$1 */.tree dd>*>* {
	display: inline-block;
	width: 100%;
	padding-top: 0.15em;
	padding-bottom: 0.15em;
	text-decoration: none;
}

/* 1249743067@stylist.Style$1 */.tree dd>*>*:hover {
	text-decoration: none;
}

/* 1395907729@stylist.Style$1 */.parameters::before {
	content: '<';
}

/* 1395907729@stylist.Style$1 */.parameters::after {
	content: '>';
}

/* 145607140@stylist.Style$1 */.SYNCHRONIZED {
	position: relative;
}

/* 145607140@stylist.Style$1 */.SYNCHRONIZED::after {
	color: var(--primary);
	font-size: 0.7rem;
	font-family: var(--icon);
	content: '\e8ae';
	position: absolute;
	top: 0.5rem;
	left: 0.2rem;
}

/* 1545038960@stylist.Style$1 */.super::before {
	content: ' super ';
}

/* 1546000381@stylist.Style$1 */#NameFilter {
	display: block;
	width: 100%;
	background-color: white;
	margin-top: 8px;
	margin-bottom: 8px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 8px;
	padding-right: 8px;
	border-color: hsla(0,0%,24%,0.26);
	border-width: 1px;
	border-style: solid;
	border-radius: var(--radius);
}

/* 1569449129@stylist.Style$1 */.hljs {
	margin-top: 1.8rem;
	font-family: var(--mono);
	font-size: 0.9em;
	line-height: 1.6;
	border-radius: var(--radius);
	border-width: 1px;
	border-style: solid;
	border-color: var(--surface-lightenD-6);
	padding-left: 1.6em;
	padding-top: 1.2em;
	padding-bottom: 1.2em;
	position: relative;
	background-color: var(--surface-lightenD-3);
}

/* 1569449129@stylist.Style$1 */.hljs:first-child {
	margin-top: 1rem;
}

/* 1569449129@stylist.Style$1 */.hljs::before {
	content: attr(lang);
	position: absolute;
	right: 28px;
	top: 4px;
}

/* 1569449129@stylist.Style$1 */.hljs a {
	position: absolute;
	right: 8px;
	top: 6px;
}

/* 1569449129@stylist.Style$1 */.hljs a svg {
	width: 14px;
	stroke: currentColor;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-width: 2px;
	fill: none;
	transition-property: width,stroke,stroke-linejoin,stroke-linecap,stroke-width,fill,transition-property,transition-duration,transition-delay,transition-timing-function;
	transition-duration: 0.05s,0.05s,0.05s,0.05s,0.05s,0.05s,0.05s,0.05s,0.05s,0.05s;
	transition-delay: 0,0,0,0,0,0,0,0,0,0;
	transition-timing-function: ease,ease,ease,ease,ease,ease,ease,ease,ease,ease;
}

/* 1569449129@stylist.Style$1 */.hljs a svg:hover {
	stroke: var(--accent);
}

/* 1569449129@stylist.Style$1 */.hljs a svg:active {
	transform: translateY(3px);
}

/* 1569449129@stylist.Style$1 */.hljs .hljs-emphasis {
	font-style: italic;
}

/* 1569449129@stylist.Style$1 */.hljs .hljs-strong {
	font-weight: 700;
}

/* 1579452226@stylist.Style$1 */code[array=fix]::after {
	content: '[]';
}

/* 1670271303@stylist.Style$1 */.DEFAULT {
	position: relative;
}

/* 1670271303@stylist.Style$1 */.DEFAULT::before {
	color: var(--primary);
	font-size: 0.6rem;
	font-family: var(--mono);
	content: 'D';
	position: absolute;
	top: -0.2rem;
	left: 0.55rem;
}

/* 1711723246@stylist.Style$1 */.VOLATILE {
	position: relative;
}

/* 1711723246@stylist.Style$1 */.VOLATILE::before {
	color: var(--primary);
	font-size: 0.6rem;
	font-family: var(--mono);
	content: 'V';
	position: absolute;
	top: -0.2rem;
	left: 0.55rem;
}

/* 1725096656@stylist.Style$1 */.TRANSIENT {
	position: relative;
}

/* 1725096656@stylist.Style$1 */.TRANSIENT::after {
	color: var(--primary);
	font-size: 0.7rem;
	font-family: var(--icon);
	content: '\e14c';
	position: absolute;
	top: 0.5rem;
	left: 0.2rem;
}

/* 1738782363@stylist.Style$1 */.PRIVATE {
	position: relative;
}

/* 1738782363@stylist.Style$1 */.PRIVATE::before {
	content: '';
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: var(--accent);
	margin-right: 0.65rem;
}

/* 1738782363@stylist.Style$1 */.PRIVATE.FIELD::before {
	content: '\e836';
}

/* 1783143957@stylist.Style$1 */code {
	font-family: inherit;
}

/* 1791032255@stylist.Style$1 */.package {
	font-weight: bold;
}

/* 1852091486@stylist.Style$1 */[title] {
	position: relative;
}

/* 1852091486@stylist.Style$1 */[title]::before {
	position: absolute;
	left: 50%;
	bottom: calc(100% + 5px + 10px);
	pointer-events: none;
	opacity: 0;
	visibility: hidden;
	width: fit-content;
	z-index: 10;
	content: attr(title);
	padding-left: 1.2em;
	padding-right: 1.2em;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
	border-radius: 4px;
	background-color: hsl(0,0%,25%);
	background-image: ;
	background-attachment: ;
	background-position: ;
	background-repeat: ;
	background-size: ;
	background-origin: ;
	color: hsl(0,0%,89%);
	font-size: 0.9em;
	letter-spacing: 0.2px;
	line-height: 1.5;
	text-align: center;
	white-space: nowrap;
	text-decoration: none;
	transform: translate(-50%,0) scale(0.7);
	transition-property: all;
	transition-duration: 0.2s;
	transition-delay: 0;
	transition-timing-function: ease;
}

/* 1852091486@stylist.Style$1 */[title]:hover::before {
	opacity: 1;
	visibility: visible;
	transform: translate(-50%,0) scale(1);
}

/* 1852091486@stylist.Style$1 */[title]::after {
	position: absolute;
	left: 50%;
	bottom: calc(100% + 5px);
	pointer-events: none;
	opacity: 0;
	visibility: hidden;
	z-index: 10;
	height: 10px;
	content: '';
	border-style: solid;
	border-width: 5px;
	border-top-color: hsl(0,0%,25%);
	border-bottom-width: 0;
	border-bottom-color: transparent;
	transform-origin: top;
	transform: translate(-50%,-5px) scaleY(0);
	color: transparent;
}

/* 1852091486@stylist.Style$1 */[title]:hover::after {
	opacity: 1;
	visibility: visible;
	transform: translateX(-50%) scaleY(1);
	transition-property: all;
	transition-duration: 0.2s;
	transition-delay: 0.2s;
	transition-timing-function: ease;
}

/* 1876311657@stylist.Style$1 */.Enum {
	display: flex;
}

/* 1876311657@stylist.Style$1 */.Enum::before {
	display: inline-block;
	width: 15px;
	height: 15px;
	align-self: center;
	text-align: center;
	border-color: hsl(0,29%,49%);
	border-style: solid;
	border-width: 1px;
	margin-right: 6px;
	content: 'E';
	font-size: 10px;
	line-height: 13px;
	transform: translateY(-1px);
	border-radius: 3px;
	color: white;
	background-color: hsl(0,29%,49%);
}

/* 1897718500@stylist.Style$1 */a {
	color: inherit;
	text-decoration-style: dotted;
	text-decoration-color: hsl(0,0%,80%);
	cursor: pointer;
}

/* 1897718500@stylist.Style$1 */a:hover {
	color: var(--link);
	text-decoration: underline;
	text-decoration-color: var(--front-opacify--05);
}

/* 2001179428@stylist.Style$1 */.ABSTRACT {
	position: relative;
}

/* 2001179428@stylist.Style$1 */.ABSTRACT::before {
	color: var(--primary);
	font-size: 0.6rem;
	font-family: var(--mono);
	content: 'A';
	position: absolute;
	top: -0.2rem;
	left: 0.55rem;
}

/* 2008544772@stylist.Style$1 */.Functional {
	display: flex;
}

/* 2008544772@stylist.Style$1 */.Functional::before {
	display: inline-block;
	width: 15px;
	height: 15px;
	align-self: center;
	text-align: center;
	border-color: hsl(110,60%,40%);
	border-style: solid;
	border-width: 1px;
	margin-right: 6px;
	content: 'F';
	font-size: 10px;
	line-height: 13px;
	transform: translateY(-1px);
	border-radius: 50%;
	color: hsl(110,60%,40%);
	background-color: var(--back-lightenD-20-opacify--07);
}

/* 2029615284@stylist.Style$1 */.svg {
	width: 16px;
	stroke: currentColor;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-width: 1.5px;
	fill: none;
}

/* 2044766104@stylist.Style$1 */.Class {
	display: flex;
}

/* 2044766104@stylist.Style$1 */.Class::before {
	display: inline-block;
	width: 15px;
	height: 15px;
	align-self: center;
	text-align: center;
	border-color: hsl(150,50%,40%);
	border-style: solid;
	border-width: 1px;
	margin-right: 6px;
	content: 'C';
	font-size: 10px;
	line-height: 13px;
	transform: translateY(-1px);
	border-radius: 50%;
	color: white;
	background-color: hsl(150,50%,40%);
}

/* 2077678813@stylist.Style$1 */html {
	font-size: 14px;
	scroll-behavior: smooth;
	scroll-padding-top: 80px;
	overflow-y: scroll;
}

/* 2077678813@stylist.Style$1 */html .disabled {
	pointer-events: none;
	user-select: none;
	cursor: default;
	opacity: 0.6;
}

/* 2077678813@stylist.Style$1 */html .disabled::selection {
	background-color: transparent;
}

/* 209413863@stylist.Style$1 */pre {
	white-space: pre-wrap;
	word-break: break-all;
}

/* 2096997459@stylist.Style$1 */.PACKAGEPRIVATE {
	position: relative;
}

/* 2096997459@stylist.Style$1 */.PACKAGEPRIVATE::before {
	content: '';
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: var(--primary);
	margin-right: 0.65rem;
}

/* 2096997459@stylist.Style$1 */.PACKAGEPRIVATE.FIELD::before {
	content: '\e836';
}

/* 223571579@stylist.Style$1 */.Interface {
	display: flex;
}

/* 223571579@stylist.Style$1 */.Interface::before {
	display: inline-block;
	width: 15px;
	height: 15px;
	align-self: center;
	text-align: center;
	border-color: hsl(110,60%,40%);
	border-style: solid;
	border-width: 1px;
	margin-right: 6px;
	content: 'I';
	font-size: 10px;
	line-height: 13px;
	transform: translateY(-1px);
	border-radius: 50%;
	color: hsl(110,60%,40%);
	background-color: var(--back-lightenD-20-opacify--07);
}

/* 227491627@stylist.Style$1 */input[type="checkbox"] {
	display: none;
}

/* 227491627@stylist.Style$1 */input[type="checkbox"] + label {
	display: block;
	position: relative;
	padding-left: 1.8em;
	cursor: pointer;
	line-height: 1em;
}

/* 227491627@stylist.Style$1 */input[type="checkbox"] + label::before {
	content: '';
	display: block;
	width: 1em;
	height: 1em;
	opacity: 0.6;
	border-style: solid;
	border-width: 1px;
	border-color: hsl(0,0%,55%);
	position: absolute;
	top: 0;
	left: 3px;
	transition-property: all;
	transition-duration: 0.1s;
	transition-delay: 0;
	transition-timing-function: ease;
}

/* 227491627@stylist.Style$1 */input[type="checkbox"] + label:hover::before {
	border-color: var(--link);
	background-color: var(--link-opacify--025);
}

/* 227491627@stylist.Style$1 */input[type="checkbox"]:checked + label::before {
	width: 0.5em;
	opacity: 1;
	top: -0.2em;
	left: 0.5em;
	border-top-color: transparent;
	border-left-color: transparent;
	background-color: transparent;
	transform: rotate(45deg);
}

/* 331226947@stylist.Style$1 */code[array=var]::after {
	content: '...';
}

/* 345029558@stylist.Style$1 */.AbstractClass {
	display: flex;
}

/* 345029558@stylist.Style$1 */.AbstractClass::before {
	display: inline-block;
	width: 15px;
	height: 15px;
	align-self: center;
	text-align: center;
	border-color: hsl(150,50%,40%);
	border-style: solid;
	border-width: 1px;
	margin-right: 6px;
	content: 'C';
	font-size: 10px;
	line-height: 13px;
	transform: translateY(-1px);
	border-radius: 50%;
	color: hsl(150,50%,40%);
	background-color: var(--back-lightenD-20-opacify--07);
}

/* 345921387@stylist.Style$1 */.PROTECTED {
	position: relative;
}

/* 345921387@stylist.Style$1 */.PROTECTED::before {
	content: '';
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: var(--secondary);
	margin-right: 0.65rem;
}

/* 345921387@stylist.Style$1 */.PROTECTED.FIELD::before {
	content: '\e836';
}

/* 373732634@stylist.Style$1 */.light .hljs-subst {
	color: hsl(210,8%,20%);
}

/* 373732634@stylist.Style$1 */.light .hljs-comment {
	color: hsl(210,8%,43%);
}

/* 373732634@stylist.Style$1 */.light :is(.hljs-attr,.hljs-doctag,.hljs-keyword,.hljs-selector-tag) {
	color: hsl(205,99%,29%);
}

/* 373732634@stylist.Style$1 */.light .hljs-attribute {
	color: hsl(306,43%,35%);
}

/* 373732634@stylist.Style$1 */.light :is(.hljs-name,.hljs-number,.hljs-quote,.hljs-selector-id,.hljs-template-tag) {
	color: hsl(28,99%,36%);
}

/* 373732634@stylist.Style$1 */.light .hljs-selector-class {
	color: hsl(205,99%,29%);
}

/* 373732634@stylist.Style$1 */.light :is(.hljs-link,.hljs-regexp,.hljs-selector-attr,.hljs-string,.hljs-symbol) {
	color: hsl(81,81%,26%);
}

/* 373732634@stylist.Style$1 */.light :is(.hljs-meta,.hljs-selector-pseudo) {
	color: hsl(100,42%,30%);
}

/* 373732634@stylist.Style$1 */.light :is(.hljs-built_in,.hljs-literal) {
	color: hsl(28,99%,36%);
}

/* 373732634@stylist.Style$1 */.light :is(.hljs-bullet,.hljs-code) {
	color: hsl(208,7%,35%);
}

/* 373732634@stylist.Style$1 */.light :is(.hljs-meta .hljs-string) {
	color: hsl(81,81%,26%);
}

/* 373732634@stylist.Style$1 */.light .hljs-deletion {
	color: hsl(360,62%,46%);
}

/* 373732634@stylist.Style$1 */.light .hljs-addition {
	color: hsl(140,41%,31%);
}

/* 397633692@stylist.Style$1 */o-select {
	display: block;
	height: 32px;
	line-height: 30px;
	color: var(--front);
	background-color: var(--surface);
	border-radius: var(--radius);
	border-style: solid;
	border-width: 1px;
	border-color: var(--front-opacify--06);
	outline-style: none;
	white-space: nowrap;
	user-select: none;
	cursor: pointer;
	position: relative;
	transition-property: all;
	transition-duration: 0.2s;
	transition-delay: 0;
	transition-timing-function: ease-in-out;
}

/* 397633692@stylist.Style$1 */o-select::selection {
	background-color: transparent;
}

/* 397633692@stylist.Style$1 */o-select view {
	display: block;
}

/* 397633692@stylist.Style$1 */o-select now {
	display: block;
	width: calc(100% - 45px);
	padding-left: 18px;
	padding-right: 18px;
	color: var(--front-lightenD-25);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* 397633692@stylist.Style$1 */o-select now.select {
	color: var(--front);
}

/* 397633692@stylist.Style$1 */o-select .svg {
	display: inline-block;
	width: 18px;
	stroke-width: 2px;
	transform: rotate(90deg);
	transition-property: all;
	transition-duration: 0.2s;
	transition-delay: 0;
	transition-timing-function: ease-in-out;
	position: absolute;
	top: calc(50% - 9px);
}

/* 397633692@stylist.Style$1 */o-select .svg.chevron {
	right: 9px;
}

/* 397633692@stylist.Style$1 */o-select .svg.chevron.active {
	transform: rotate(270deg);
}

/* 397633692@stylist.Style$1 */o-select .svg.x {
	right: 27px;
	opacity: 0;
	transform: scale(0);
	transform-origin: center;
}

/* 397633692@stylist.Style$1 */o-select .svg.x:hover {
	stroke: var(--link);
}

/* 397633692@stylist.Style$1 */o-select .svg.x.active {
	opacity: 1;
	transform: scale(1);
}

/* 397633692@stylist.Style$1 */o-select ol {
	display: block;
	opacity: 0;
	z-index: 10;
	width: calc(100% + 1.5px);
	background-color: var(--surface);
	border-radius: var(--radius);
	border-width: 1px;
	border-style: solid;
	border-color: var(--front-opacify--06);
	margin-top: 6px;
	overflow: hidden;
	pointer-events: none;
	position: absolute;
	top: 100%;
	left: -1px;
	transform-origin: 50% 0;
	transform: scale(0.75) translateY(-21px);
	transition-property: all;
	transition-duration: 0.2s;
	transition-delay: 0;
	transition-timing-function: cubic-bezier(0.65,0.0,0.35,1.0);
}

/* 397633692@stylist.Style$1 */o-select ol.active {
	opacity: 1;
	transform: scale(1) translateY(0);
	pointer-events: auto;
}

/* 397633692@stylist.Style$1 */o-select li {
	display: block;
	cursor: pointer;
	list-style-type: none;
	padding-left: 18px;
	padding-right: 18px;
}

/* 397633692@stylist.Style$1 */o-select li:hover {
	background-color: var(--surface-lightenD-10);
}

/* 397633692@stylist.Style$1 */o-select li.select {
	color: var(--accent);
}

/* 633947070@stylist.Style$1 */.dark .hljs-subst {
	color: white;
}

/* 633947070@stylist.Style$1 */.dark .hljs-comment {
	color: hsl(55,42%,60%);
}

/* 633947070@stylist.Style$1 */.dark :is(.hljs-attr,.hljs-doctag,.hljs-keyword,.hljs-selector-tag) {
	color: hsl(207,42%,67%);
}

/* 633947070@stylist.Style$1 */.dark .hljs-attribute {
	color: hsl(306,27%,69%);
}

/* 633947070@stylist.Style$1 */.dark :is(.hljs-name,.hljs-number,.hljs-quote,.hljs-selector-id,.hljs-template-tag) {
	color: hsl(24,85%,61%);
}

/* 633947070@stylist.Style$1 */.dark .hljs-selector-class {
	color: hsl(207,42%,67%);
}

/* 633947070@stylist.Style$1 */.dark :is(.hljs-link,.hljs-regexp,.hljs-selector-attr,.hljs-string,.hljs-symbol) {
	color: hsl(66,39%,57%);
}

/* 633947070@stylist.Style$1 */.dark :is(.hljs-meta,.hljs-selector-pseudo) {
	color: hsl(100,42%,60%);
}

/* 633947070@stylist.Style$1 */.dark :is(.hljs-built_in,.hljs-literal) {
	color: hsl(24,85%,61%);
}

/* 633947070@stylist.Style$1 */.dark :is(.hljs-bullet,.hljs-code) {
	color: hsl(0,0%,80%);
}

/* 633947070@stylist.Style$1 */.dark :is(.hljs-meta .hljs-string) {
	color: hsl(66,39%,57%);
}

/* 633947070@stylist.Style$1 */.dark .hljs-deletion {
	color: hsl(357,62%,66%);
}

/* 633947070@stylist.Style$1 */.dark .hljs-addition {
	color: hsl(140,40%,62%);
}

/* 656007745@stylist.Style$1 */.Annotation {
	display: flex;
}

/* 656007745@stylist.Style$1 */.Annotation::before {
	display: inline-block;
	width: 15px;
	height: 15px;
	align-self: center;
	text-align: center;
	border-color: var(--primary);
	border-style: solid;
	border-width: 1px;
	margin-right: 6px;
	content: 'A';
	font-size: 10px;
	line-height: 13px;
	transform: translateY(-1px);
	border-radius: 3px;
	color: white;
	background-color: var(--primary);
}

/* 723643561@stylist.Style$1 */html.light #light svg, html.dark #dark svg {
	fill: hsl(55,100%,75%);
}

/* 8571379@stylist.Style$1 */.FINAL {
	position: relative;
}

/* 8571379@stylist.Style$1 */.FINAL::before {
	color: var(--primary);
	font-size: 0.6rem;
	font-family: var(--mono);
	content: 'F';
	position: absolute;
	top: -0.2rem;
	left: 0.55rem;
}

/* 918925343@stylist.Style$1 */.Exception {
	display: flex;
}

/* 918925343@stylist.Style$1 */.Exception::before {
	display: inline-block;
	width: 15px;
	height: 15px;
	align-self: center;
	text-align: center;
	border-color: var(--accent);
	border-style: solid;
	border-width: 1px;
	margin-right: 6px;
	content: 'T';
	font-size: 10px;
	line-height: 13px;
	transform: translateY(-1px);
	border-radius: 3px;
	color: white;
	background-color: var(--accent);
}

/* 97348506@stylist.Style$1 */.STATIC {
	position: relative;
}

/* 97348506@stylist.Style$1 */.STATIC::after {
	color: var(--accent);
	font-size: 0.6rem;
	font-family: var(--mono);
	content: 'S';
	position: absolute;
	top: -0.2rem;
	left: 0.15rem;
}

/* javadng.design.Styles#JavadocComment */.B h2 {
	font-size: 1.75rem;
	color: var(--front);
	padding-left: 0;
	padding-right: 0.5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin-bottom: -0.6rem;
}

/* javadng.design.Styles#JavadocComment */.B h2::first-letter {
	color: var(--accent);
}

/* javadng.design.Styles#JavadocComment */.B h3 {
	font-size: 1.4rem;
	color: var(--front);
	margin-bottom: -0.6rem;
}

/* javadng.design.Styles#JavadocComment */.B h3::first-letter {
	color: var(--secondary);
}

/* javadng.design.Styles#JavadocComment */.B p {
	margin-top: 1.8rem;
}

/* javadng.design.Styles#JavadocComment */.B p:first-child {
	margin-top: 1rem;
}

/* javadng.design.Styles#JavadocComment */.B dl {
	margin-top: 2rem;
}

/* javadng.design.Styles#JavadocComment */.B dl >dt {
	font-size: 1.2rem;
	color: var(--front);
	margin-top: 2rem;
	margin-bottom: -1.4rem;
}

/* javadng.design.Styles#JavadocComment */.B dl >dd {
	margin-top: 1.8rem;
}

/* javadng.design.Styles#JavadocComment */.B dl >dd:first-child {
	margin-top: 1rem;
}

/* javadng.design.Styles#JavadocComment */.B ul {
	line-height: 1.9;
	margin-top: 1rem;
	margin-left: 2.3rem;
	list-style-position: outside;
}

/* javadng.design.Styles#JavadocComment */.B ol {
	line-height: 1.9;
	margin-top: 1rem;
	margin-left: 2.3rem;
	list-style-position: outside;
}

/* javadng.design.Styles#JavadocComment */.B blockquote {
	margin-top: 1rem;
}

/* javadng.design.Styles#JavadocComment */.B table {
	width: 100%;
	border-radius: var(--radius);
	border-style: solid;
	border-width: 1px;
	border-color: var(--front-opacify--05);
	border-spacing: 0;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

/* javadng.design.Styles#JavadocComment */.B th {
	font-weight: bold;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: var(--front-opacify--05);
}

/* javadng.design.Styles#JavadocComment */.B th:not(:first-child) {
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: var(--front-opacify--05);
}

/* javadng.design.Styles#JavadocComment */.B td {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

/* javadng.design.Styles#JavadocComment */.B tr td + td {
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: var(--front-opacify--05);
}

/* javadng.design.Styles#JavadocComment */.B tr+tr td {
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: var(--front-opacify--05);
}

/* javadng.design.Styles#JavadocComment */.B :where(p, table) code {
	color: var(--secondary);
	font-family: var(--mono);
}

/* javadng.design.Styles#JavadocComment */.B :where(p, table) code::before {
	content: '[';
	color: var(--front-opacify--08);
	padding-left: 0.3rem;
	padding-right: 0.3rem;
}

/* javadng.design.Styles#JavadocComment */.B :where(p, table) code::after {
	content: ']';
	color: var(--front-opacify--08);
	padding-left: 0.3rem;
	padding-right: 0.3rem;
}

/* javadng.design.Styles#Section */.g {
	margin-bottom: 2.2rem;
	margin-top: 0.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-radius: var(--radius);
	background-color: var(--surface);
}

/* javadng.design.Styles#SignatureParameterPart */.O {
	color: var(--front-lighten-18);
}

/* javadng.design.Styles#lambda$static$82fd9228$1 */.A {
	stroke-width: 2.5px;
	stroke: var(--front-opacify--085);
	transition-property: stroke-width,stroke,transition-property,transition-duration,transition-delay,transition-timing-function;
	transition-duration: 0.05s,0.05s,0.05s,0.05s,0.05s,0.05s;
	transition-delay: 0,0,0,0,0,0;
	transition-timing-function: ease,ease,ease,ease,ease,ease;
}

/* javadng.design.Styles#lambda$static$82fd9228$1 */.A:hover {
	stroke: var(--accent);
}

/* javadng.design.Styles#lambda$static$82fd9228$1 */.A:active {
	transform: translateY(3px);
}

/* javadng.page.APIPage.S#MemberName */.Q {
	font-family: var(--base);
	font-size: 1rem;
	font-weight: normal;
	display: block;
	margin-left: -1.1rem;
}

/* javadng.page.APIPage.S#Name */.d {
	font-weight: bold;
	font-style: normal;
	margin-right: 0.175rem;
}

/* javadng.page.APIPage.S#NaviReturn */.H {
	color: var(--secondary-lightenD--25);
}

/* javadng.page.APIPage.S#NaviReturn */.H::before {
	content: ':';
	padding-left: 0.3em;
	padding-right: 0.3em;
}

/* javadng.page.APIPage.S#PackcageName */.U {
	font-size: 9px;
	color: hsl(0,0%,60%);
	display: block;
	margin-bottom: -5px;
	margin-left: 22px;
}

/* javadng.page.APIPage.S#Return */.X {
	color: var(--secondary-lightenD--25);
}

/* javadng.page.APIPage.S#Return */.X::before {
	content: ':';
	padding-left: 0.3em;
	padding-right: 0.3em;
}

/* javadng.page.APIPage.S#SignatureDefinition */.J {
	position: relative;
}

/* javadng.page.APIPage.S#SignatureDefinition */.J::before {
	position: absolute;
	display: inline-block;
	width: 3rem;
	margin-left: -3rem;
	font-size: 0.8rem;
	color: hsl(0,29%,49%);
}

/* javadng.page.APIPage.S#SignatureException */.c {
	position: relative;
}

/* javadng.page.APIPage.S#SignatureException */.c::before {
	position: absolute;
	display: inline-block;
	width: 3rem;
	margin-left: -3rem;
	font-size: 0.8rem;
	color: hsl(0,29%,49%);
}

/* javadng.page.APIPage.S#SignatureException */.c::before {
	content: 'Throw';
}

/* javadng.page.APIPage.S#SignatureParameter */.e {
	position: relative;
}

/* javadng.page.APIPage.S#SignatureParameter */.e::before {
	position: absolute;
	display: inline-block;
	width: 3rem;
	margin-left: -3rem;
	font-size: 0.8rem;
	color: hsl(0,29%,49%);
}

/* javadng.page.APIPage.S#SignatureParameter */.e::before {
	content: 'Param';
}

/* javadng.page.APIPage.S#SignatureReturn */.f {
	position: relative;
}

/* javadng.page.APIPage.S#SignatureReturn */.f::before {
	position: absolute;
	display: inline-block;
	width: 3rem;
	margin-left: -3rem;
	font-size: 0.8rem;
	color: hsl(0,29%,49%);
}

/* javadng.page.APIPage.S#SignatureReturn */.f::before {
	content: 'Return';
	color: var(--secondary-lightenD--25);
}

/* javadng.page.APIPage.S#SignatureTable */.I {
	padding-left: 3rem;
	margin-top: 0.2rem;
	margin-bottom: 2rem;
	font-size: 0.85em;
}

/* javadng.page.APIPage.S#SignatureTable */.I td {
	padding-right: 0.8rem;
	vertical-align: top;
	text-overflow: ellipsis;
	line-height: 1.3;
}

/* javadng.page.APIPage.S#SignatureTable */.I td:not(:last-child) {
	white-space: nowrap;
}

/* javadng.page.APIPage.S#SignatureTable */.I td:empty::after {
	content: 'No description.';
}

/* javadng.page.APIPage.S#SignatureTypeVariable */.i {
	position: relative;
}

/* javadng.page.APIPage.S#SignatureTypeVariable */.i::before {
	position: absolute;
	display: inline-block;
	width: 3rem;
	margin-left: -3rem;
	font-size: 0.8rem;
	color: hsl(0,29%,49%);
}

/* javadng.page.APIPage.S#SignatureTypeVariable */.i::before {
	content: 'Type';
}

/* javadng.page.APIPage.S#Title */.Z {
	margin-top: 0.9rem;
	font-weight: bold;
	font-size: 1rem;
}

/* javadng.page.APIPage.S#TypeName */.l {
	font-family: var(--base);
	font-size: 1.2rem;
	font-weight: normal;
	margin-bottom: 0.3rem;
}

/* javadng.page.APIPage.S#lambda$static$227658fa$1 */.D::before {
	content: 'Type';
}

/* javadng.page.APIPage.S#lambda$static$227658fa$1 */.D li {
	width: 100%;
}

/* javadng.page.APIPage.S#lambda$static$227658fa$1 */.D li > i:nth-child(1) {
	font-weight: bold;
}

/* javadng.page.APIPage.S#lambda$static$227658fa$1 */.D li > i:nth-child(2) {
	color: var(--front-lighten-18);
	margin-right: 1.5rem;
}

/* javadng.page.APIPage.S#lambda$static$50ba9977$1 */.E::before {
	content: 'Extends';
}

/* javadng.page.APIPage.S#lambda$static$50ba9977$1 */.E li:not(:last-child)::after {
	color: var(--front-lighten-30);
	font-size: smaller;
	content: '\025b6';
	margin-left: 0.8rem;
	margin-right: 0.8rem;
}

/* javadng.page.APIPage.S#lambda$static$557ecd69$1 */.G::before {
	content: 'Subtypes';
}

/* javadng.page.APIPage.S#lambda$static$557ecd69$1 */.G li {
	margin-right: 1.4rem;
}

/* javadng.page.APIPage.S#lambda$static$b8fbd9e6$1 */.F::before {
	content: 'Implements';
}

/* javadng.page.APIPage.S#lambda$static$b8fbd9e6$1 */.F li {
	margin-right: 1.4rem;
}

/* javadng.page.APIPage.S#traitList */.V {
	font-size: 0.85em;
	margin-bottom: 2em;
}

/* javadng.page.APIPage.S#traits */.C {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	padding-left: 6rem;
}

/* javadng.page.APIPage.S#traits */.C::before {
	color: hsl(0,29%,49%);
	display: block;
	width: 6rem;
	margin-left: -6rem;
}

/* javadng.page.APIPage.S#traits */.C li {
	display: inline-block;
}

/* javadng.page.DocumentPage.S#SectionLevel1 */.L {
	position: relative;
}

/* javadng.page.DocumentPage.S#SectionLevel2 */.j {
	position: relative;
}

/* javadng.page.DocumentPage.S#foot */.K {
	margin-top: 3.6rem;
	margin-bottom: 1rem;
}

/* javadng.page.DocumentPage.S#foot */*.L+.K {
	margin-top: 1rem;
}

/* javadng.page.DocumentPage.S#icon */.M {
	display: inline-block;
	width: 16px;
	height: 16px;
	line-height: 1;
	margin-left: 16px;
	cursor: pointer;
}

/* javadng.page.DocumentPage.S#meta */.h {
	position: absolute;
	top: calc(50% - 8px - 3px);
	right: 8px;
}

/* javadng.page.Page.S#Body */.Y {
	background-color: var(--back);
	background-image: var(--backImage);
	background-repeat: repeat;
	font-size: var(--font);
	font-family: var(--base);
	color: var(--front-lightenD-5);
	line-height: var(--line);
	margin-left: 35px;
	margin-right: 35px;
	margin-bottom: 14px;
}

/* javadng.page.Page.S#Contents */.k {
	max-width: calc(800px - 4rem);
	flex-grow: 1;
	-webkit-flex-grow: 1;
	margin-left: 2rem;
	margin-right: 2rem;
	letter-spacing: -0.025rem;
	position: relative;
}

/* javadng.page.Page.S#Contents */.k::after {
	content: '';
	position: absolute;
	top: 0.5rem;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	opacity: 0;
	display: block;
	background-color: var(--surface);
	pointer-events: none;
	transition-property: content,position,top,left,width,height,z-index,opacity,display,background-color,pointer-events;
	transition-duration: 0.15s,0.15s,0.15s,0.15s,0.15s,0.15s,0.15s,0.15s,0.15s,0.15s,0.15s;
	transition-delay: 0,0,0,0,0,0,0,0,0,0,0;
	transition-timing-function: ease,ease,ease,ease,ease,ease,ease,ease,ease,ease,ease;
}

/* javadng.page.Page.S#Contents */.k.fadeout::after {
	opacity: 1;
}

/* javadng.page.Page.S#HeaderArea */.m {
	background-color: inherit;
	background-image: inherit;
	background-repeat: repeat;
	position: sticky;
	top: 0;
	min-width: 300px;
	max-width: 1360px;
	min-height: 80px;
	z-index: 10;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 12px;
	padding-top: 22px;
	border-bottom-color: var(--primary);
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

/* javadng.page.Page.S#HeaderNav */.N {
	min-width: 300px;
}

/* javadng.page.Page.S#HeaderNav */.N>* {
	font-size: 12px;
	color: var(--front);
	width: 90px;
	display: inline-flex;
	align-items: center;
	flex-direction: column;
	padding-left: 1.8rem;
	padding-right: 1.8rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin-top: -4px;
	text-decoration: none;
	white-space: nowrap;
	transition-property: all;
	transition-duration: 0.2s;
	transition-delay: 0;
	transition-timing-function: ease;
}

/* javadng.page.Page.S#HeaderNav */.N>* svg {
	width: 26px;
	height: 26px;
	stroke: var(--front-lightenD--15);
	stroke-width: 1.2px;
	transition-property: all;
	transition-duration: 0.2s;
	transition-delay: 0;
	transition-timing-function: ease;
}

/* javadng.page.Page.S#HeaderNav */.N>*:hover {
	text-decoration: none;
	color: var(--link);
}

/* javadng.page.Page.S#HeaderNav */.N>*:hover svg {
	stroke: var(--link);
	stroke-width: 2px;
	transform: translateY(-4px);
}

/* javadng.page.Page.S#HeaderTitle */.a {
	font-size: 2.5rem;
	font-family: var(--title);
	font-weight: normal;
	color: var(--primary);
	margin-right: 3.5rem;
	display: flex;
	flex-wrap: nowrap;
}

/* javadng.page.Page.S#HeaderTitle */.a::after {
	content: attr(date)'\000AVersion\00A0'attr(ver);
	font-size: 0.8rem;
	line-height: 1.3;
	color: var(--front);
	font-family: var(--base);
	letter-spacing: -0.5px;
	display: inline-block;
	padding-left: 1.1rem;
	padding-bottom: 1rem;
	white-space: pre;
	align-self: flex-end;
}

/* javadng.page.Page.S#MainArea */.W {
	max-width: 1360px;
	display: flex;
	flex-direction: row;
	margin-right: auto;
	margin-left: auto;
}

/* javadng.page.Page.S#Navigation */.T {
	font-size: 0.97rem;
	max-width: 280px;
	flex-basis: 17vw;
	-webkit-flex-basis: 17vw;
	flex-shrink: 0;
	-webkit-flex-shrink: 0;
	align-self: flex-start;
	position: sticky;
	top: 95px;
	padding-top: 0.5rem;
	margin-bottom: 1.6rem;
}

/* javadng.page.Page.S#Navigation */.T #APINavi >* {
	margin-bottom: 0.5rem;
}

/* javadng.page.Page.S#Navigation */.T #DocNavi {
	font-size: 1.1em;
	color: var(--front-lightenD--15);
	letter-spacing: -0.5px;
	line-height: 1.6;
}

/* javadng.page.Page.S#Navigation */.T #DocNavi .doc {
	margin-bottom: 1rem;
}

/* javadng.page.Page.S#Navigation */.T #DocNavi .doc li {
	padding-top: 0.35rem;
	padding-bottom: 0.35rem;
}

/* javadng.page.Page.S#Navigation */.T #DocNavi .sub {
	height: 0;
	list-style-type: none;
	font-size: 0.9em;
	color: var(--front-lightenD-10);
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: hsl(0,0%,65%);
	overflow-y: hidden;
	transition-property: all;
	transition-duration: 0.3s;
	transition-delay: 0;
	transition-timing-function: ease;
}

/* javadng.page.Page.S#Navigation */.T #DocNavi .sub a .foot {
	padding-left: 0.8rem;
}

/* javadng.page.Page.S#Navigation */.T #DocNavi .sub a svg {
	width: 16px;
	height: 16px;
	margin-left: -16px;
	stroke-width: 2px;
	stroke: transparent;
	transition-property: all;
	transition-duration: 0.25s;
	transition-delay: 0;
	transition-timing-function: ease;
	transform: translateX(0);
}

/* javadng.page.Page.S#Navigation */.T #DocNavi .sub a.now {
	color: var(--accent);
}

/* javadng.page.Page.S#Navigation */.T #DocNavi .sub a.now svg {
	stroke: var(--accent);
	transform: translateX(10px);
}

/* javadng.page.Page.S#Navigation */.T #DocNavi .sub a:hover svg {
	stroke: var(--accent);
	transform: translateX(10px);
}

/* javadng.page.Page.S#Navigation */.T #DocNavi .sub a:active svg {
	transform: translateX(4px);
}

/* javadng.page.Page.S#Navigation */.T #DocNavi a {
	display: block;
	text-decoration: none;
	white-space: pre;
	padding-top: 0.13rem;
	padding-bottom: 0.13rem;
}

/* javadng.page.Page.S#Navigation */.T #DocNavi a svg {
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin-top: -2px;
	margin-right: 1em;
}

/* javadng.page.Page.S#SubNavigation */.P {
	width: 280px;
	font-size: 0.85rem;
}

/* javadng.page.Page.S#SubNavigationStickyBlock */.S {
	position: sticky;
	top: 95px;
	display: block;
	height: calc(90vh - 80px);
	max-width: 20vw;
	overflow: auto;
	scrollbar-width: thin;
	white-space: nowrap;
}

/* javadng.page.Page.S#SubNavigationStickyBlock */.S:hover {
	overflow-y: auto;
}

/* javadng.page.Page.S#SubNavigationStickyBlock */.S>*>* {
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

/* javadng.page.Page.S#ViewMode */.b {
	display: flex;
	justify-content: flex-end;
	align-self: flex-end;
	flex-grow: 2;
	-webkit-flex-grow: 2;
	margin-bottom: 10px;
	margin-right: 2rem;
}

/* javadng.page.Page.S#ViewMode */.b a {
	width: 20px;
	height: 20px;
	margin-left: 1em;
}

/* javadng.page.Page.S#ViewMode */.b svg {
	width: 20px;
	height: 20px;
}

@media screen and (max-width:900px) {
/* javadng.page.Page.S#MainArea */.W {
	display: flex;
	flex-wrap: wrap;
}

/* javadng.page.Page.S#Navigation */.T {
	order: 2;
	-webkit-order: 2;
}

/* javadng.page.Page.S#SubNavigation */.P {
	display: none;
}

/* javadng.page.Page.S#ViewMode */.b {
	display: none;
}

}

