<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" packages="trademate.console">

    <!-- Properties -->
    <Properties>
        <Property name="pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} %p \t%m%n</Property>
    </Properties>

    <!-- Console Appender -->
    <Appenders>
        <Console name="SYSTEM" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}" />
        </Console>
        
        <UI name="UI">
            <PatternLayout pattern="${pattern}" />
        </UI>
        
        <RollingFile name="FILE" fileName=".log/system.log" filePattern=".log/system%d{yyyyMMdd}.log">
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="SYSTEM" />
            <AppenderRef ref="UI" />
            <AppenderRef ref="FILE" />
        </Root>
    </Loggers>
</Configuration>
