<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" packages="cointoss.visual.mate.console">

    <!-- Properties -->
    <Properties>
        <Property name="pattern">%d{yyy-MM-dd HH:mm:ss.SSS}   %msg%n</Property>
    </Properties>

    <!-- Console Appender -->
    <Appenders>
        <Console name="SYSTEM" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}" />
        </Console>

        <!-- Rolling File Appender -->
        <RollingFile name="FILE"
            fileName=".log/TradeMate/trade.log"
            filePattern=".jackpot/log%d{yyyyMMdd}.txt">
            <PatternLayout pattern="${pattern}" />
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="9" />
        </RollingFile>
        
        <UI name="UI">
            <PatternLayout pattern="${pattern}" />
        </UI>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="SYSTEM" />
            <AppenderRef ref="FILE" />
            <AppenderRef ref="UI" />
        </Root>
    </Loggers>
</Configuration>