/*
 * This is an adjustment of the original modena.css for a consistent dark theme.
 * Original modena.css here: https://gist.github.com/maxd/63691840fc372f22f470.
 */

/* Redefine base colors */
.root {
    -fx-base: rgb(30, 30, 30);
    -fx-background: rgb(30, 30, 30);

    /* make controls (buttons, thumb, etc.) slightly lighter */
    -fx-color: derive(-fx-base, 10%);

    /* text fields and table rows background */
    -fx-control-inner-background: rgb(30, 30, 30);
    /* version of -fx-control-inner-background for alternative rows */
    -fx-control-inner-background-alt: rgb(30, 30, 30);

    /* text colors depending on background's brightness */
    -fx-light-text-color: rgb(220, 220, 220);
    -fx-mid-text-color: rgb(100, 100, 100);
    -fx-dark-text-color: rgb(20, 20, 20);

    /* A bright blue for highlighting/accenting objects.  For example: selected
     * text; selected items in menus, lists, trees, and tables; progress bars */
    -fx-accent: rgb(0, 60, 80);

    /* color of non-focused yet selected elements */
    -fx-selection-bar-non-focused: rgb(50, 50, 50);
}

/* Fix derived prompt color for text fields */
.text-input {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, +50%);
}

/* Keep prompt invisible when focused (above color fix overrides it) */
.text-input:focused {
    -fx-prompt-text-fill: transparent;
}

/* Fix scroll bar buttons arrows colors */
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(220, 220, 220);
}

.scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-bar > .decrement-button:hover > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(240, 240, 240);
}

.scroll-bar > .increment-button:pressed > .increment-arrow,
.scroll-bar > .decrement-button:pressed > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(255, 255, 255);
}

/* ==========================================================================

===========================================================================*/
.BUY {
	-fx-text-fill: rgb(251, 189, 42);
}

.SELL {
	-fx-text-fill: rgba(247, 105, 77, 1);
}

#shortList .list-cell {
	-fx-text-fill: inherit;
  -fx-label-padding: 0 0 0 70px;
  -fx-background-color: rgba(247, 105, 77, 0.2);
  -fx-background-insets: 0 300px 0 0;
}

#longList .list-cell {
	-fx-text-fill: inherit;
  -fx-label-padding: 0 0 0 70px;
  -fx-background-color: rgba(251, 189, 42, 0.2);
  -fx-background-insets: 0 300px 0 0;
}

#priceLatest {
	-fx-label-padding: 0 0 0 8px;
}

#requestedOrders .table-column {
  -fx-alignment: CENTER;
}

.tree-table-row-cell.REQUESTING .cell {
  -fx-text-fill: rgb(60, 60, 60);
}
