<!--
  Copyright (C) 2024 The COINTOSS Development Team

  Licensed under the MIT License (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

           https://opensource.org/licenses/MIT
-->
<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">

    <!-- Properties -->
    <Properties>
        <Property name="pattern">%p \t%m%n</Property>
    </Properties>

    <!-- Console Appender -->
    <Appenders>
        <Console name="SYSTEM" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}" />
        </Console>
    </Appenders>

    <Loggers>
        <Root level="error">
            <AppenderRef ref="SYSTEM" />
        </Root>
    </Loggers>
</Configuration>